.infor-member {
    top: 168px;
    width: 1112px;
    height: 397px;
    box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5) !important;
    border-radius: 12px !important;
}

.left-infor {
    position: absolute;
    width: 248px;
    height: 303px;
    left: 24px;
    top: 40px;
    background-color: aqua; /* x */
}

.avatar-member {
    position: absolute;
    width: 248px;
    height: 248px;
    border-radius: 318px;
    display: flex;
    align-items: center;
    background-color: rgba(219, 219, 219, 0.5); /* x */
}

.avatar-change {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 171px;
    top: 206px;
    display: flex;
    align-items: center;
    background: #FF7506;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.name-infor {
    width: 186px;
    height: 36px;
    left: 55px;
    top: 307px;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 36px !important;
    display: flex;
    align-items: center;
    color: #282739 !important;
    background-color: rgba(219, 219, 219, 0.5); /* x */
}

.right-infor {
    position: absolute;
    width: 792px;
    height: 276px;
    left: 296px;
    top: 40px;
    background-color: aqua; /* x */
}