@import 'styleItems';

form#mana-serv-form {
    .main-box {
        .mana-serv-form__row1 {
            display: flex;
            flex-direction: row;
            gap: 24px;
            width: 100%;
            position: absolute;
            top: 58px;
            left: 24px;

            .mana-serv-form__row1__col1 {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 553px;
                @include FormItem__Input--width-height (553px, 76px);
            };

            .mana-serv-form__row1__col2 {
                width: 553px;
                @include FormItem__TextArea--width-height (553px, 164px);
            };
        };

        .mana-serv-form__row2 {
            position: absolute;
            top: calc(238px - 16px);
            left: 24px;
            width: 100%;
            @include FormItem__Checkbox;
        };

        .note {
            position: absolute;
            width: 232px;
            height: 24px;
            left: 24px;
            top: 494px;
        };
    };
};

form#infor-serv-form.main-box {
    .infor-box:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .ant-form-item {
            width: 100%;
            height: 24px;

            .ant-form-item-row {
                height: 100%;

                .ant-form-item-label {
                    width: calc(87px + 22px);
                    height: 100%;

                    label {
                        @include Checkbox-label
                    };
                };

                .ant-form-item-control {
                    height: 100%;

                    .ant-form-item-control-input {
                        min-height: 100%;

                        .ant-form-item-control-input-content {
                            span {
                                @include Checkbox-label;
                                font-weight: 400;
                            };
                        };
                    };
                };
            };
        };
    };

    .infor-box:nth-child(4) {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .ant-form-item {
            width: 100%;
            height: 44px;
            line-height: 44px;

            .ant-form-item-row {
                height: 100%;

                .ant-form-item-label {
                    width: calc(87px + 22px);
                    height: 100%;

                    label {
                        @include Checkbox-label;
                    };
                };

                .ant-form-item-control {
                    height: 100%;

                    .ant-form-item-control-input {
                        min-height: 100%;

                        .ant-form-item-control-input-content {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            gap: 12px;
                            width: 174px;
                            @include Checkbox-item__span--font-weight (400);
                        };
                    };
                };
            };
        };
    };
};