.pass-forget {
    position: absolute;
    top: 320px;
    right: 98px;
    bottom: 191px;
    left: 94px;
    background-color: aqua;
}

.email-forget {
    position: absolute;
    top: 320px;
    right: 98px;
    bottom: 287px;
    left: 94px;
    background-color: aqua;
}