.user-log .input-1 {
    top: 104px;
    left: 24px;
    width: 320px;
}

.user-log .input-search {
    top: 104px;
    left: 896px;
    width: 240px;
}

.user-log .main-list {
    top: 192px;
    left: 24px;
    width: 1112px;
    height: 539px;
}

.user-log .pagination {
    top: 755px;
    left: 848px;
}