.dashboard-chart {
    position: absolute;
    width: 791px;
    height: 484px;
    left: 24px;
    top: 296px;
    background: #FFFFFF;
    border-radius: 12px;
    filter: drop-shadow(2px 2px 15px rgba(70, 64, 67, 0.1));
}

.name-area-chart {
    position: absolute;
    top: 24px;
    right: 526px;
    bottom: 405px;
    left: 24px;
}

.name-area-chart p {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 21px;
    margin: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A9A9B0;
}

.area-chart {
    position: absolute;
    width: 754px;
    height: 373px;
    left: 24px;
    top: 78px;
    border-radius: 8px;
}

.tooltip-area-chart {
    position: relative;
    width: 104.41px;
    height: 33.36px;
}

.tooltip-box {
    position: absolute;
    width: 104.41px;
    height: 27.97px;
    background: #5185F7;
    border-radius: 8px;
}

.arrow-tooltip {
    position: absolute;
    top: 22px;
    left: 45px;
    width: 12.78px;
    height: 12.78px;
    color: #5185F7;
}

.content-tooltip {
    position: absolute;
    width: 38px;
    height: 18px;
    left: 33.36px;
    top: 3.68px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.point-chart {
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 35px;
    left: 43px;
    background: #5185F7;
    border: 4px solid #F7F7F7;
    box-shadow: 0px 2.66667px 2.66667px rgba(50, 50, 71, 0.06), 0px 2.66667px 5.33333px rgba(50, 50, 71, 0.06);
    border-radius: 10px;
    z-index: 1;
}

.crosshair-bot {
    box-sizing: content-box;
    position: absolute;
    top: 46px;
    left: 51.5px;
    border: 0.5px dashed #5185F7;
}

.radio-choice-chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    top: 24px;
    right: 24px;
    bottom: 418px;
    left: 583px;
}

.radio-choice-chart h5 {
    width: 70px;
    height: 24px;
    margin: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.select-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 24px;
    width: 106px !important;
    height: 42px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.select-btn .ant-select-arrow {
    color: #FF7506;
}

.select-btn .ant-select-arrow span svg {
    width: 24px;
    height: 24px;
}

.select-btn .ant-select-selector {
    border: none !important;
}

.select-btn .ant-select-selector .ant-select-selector-item {
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7E7D88;
    flex: none;
    order: 0;
    flex-grow: 0;
}