.report .input-1 {
    top: 104px;
    left: 24px;
    width: 320px;
}

.report .main-list {
    top: 192px;
    left: 24px;
    width: 1112px;
    max-height: 539px;
}

.report .table div div ul {
    top: 563px;
}

.report .affix-group {
    top: 192px;
    right: 0px;
    order: 0;
}