.left-dashboard {
    position: relative;
    width: 839px;
    height: 722px;
    padding: 16px 24px 30px;
}

.right-dashboard {
    position: absolute;
    width: 401px;
    height: 810px;
    left: 839px;
    top: 0px;
    padding: 104px 24px 29px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 8px 16px 16px 8px;
}