.equip .title-lv-1,
.manage-equip .title-lv-1,
.infor-equip .title-lv-1 {
    top: 104px;
    left: 24px;
    width: 169px;
}

.equip .title-lv-1 { width: 200px; }

.infor-equip .title-lv-1 { left: 32px; }

.equip .input {
    top: 156px;
    width: 300px;
}

.equip .input-1 { left: 24px; }

.equip .input-2 { left: 348px; }

.equip .input-search { left: 836px; }

.equip .affix-group,
.infor-equip .affix-group {
    right: 0px;
    order: 0;
}

.equip .affix-group { top: 244px; }

.infor-equip .affix-group { top: 156px; }