.equip .title-lv-1,
.manage-equip .title-lv-1,
.infor-equip .title-lv-1 {
    top: 104px;
    left: 24px;
    width: 169px;
}

.equip .title-lv-1 { width: 200px; }

.infor-equip .title-lv-1 { left: 32px; }

.equip .input {
    top: 156px;
    width: 300px;
}

.equip .input-1 { left: 24px; }

.equip .input-2 { left: 348px; }

.equip .input-search { left: 836px; }

.equip .main-list {
    top: 244px;
    left: 24px;
    width: 1112px;
    height: 490px;
}

.manage-equip .main-box {
    top: 156px;
    width: 1152px;
    height: 550px;
}

.infor-equip .main-box {
    top: 156px;
    width: 1112px;
    height: 604px;
}

.infor-equip .main-box .title-lv-2,
.manage-equip .main-box .title-lv-2 {
    top: 16px;
    left: 24px;
    width: 160px;
}

.manage-equip .button-group {
    top: 730px;
    left: 434.5px;
    width: 326px;
}

.manage-equip .button-group .button-1 {
    left: 0px;
    width: 147px;
    color: #FF9138;
    background: #FFF2E7;
    border: 1.5px solid #FF9138;
}

.manage-equip .button-group .button-2 {
    left: 179px;
    width: 147px;
    color: #FFFFFF;
    background: #FF9138;
}

.equip .affix-group,
.infor-equip .affix-group {
    right: 0px;
    height: 94px;
    order: 0;
}

.equip .affix-group { top: 244px; }

.infor-equip .affix-group { top: 156px; }

.manage-equip .main-box .form-box,
.infor-equip .infor-box {
    position: absolute;
    top: 58px;
    left: 24px;
    right: 24px;
    bottom: 67px;
    background-color: antiquewhite; /* x */
} /* x */

.equip .pagination {
    top: 758px;
    left: 848px;
}