@import '../dashboard/dashboard.css';
@import '../loginPage/login.css';
@import '../inforMember/inforMember.css';
@import '../equipManage/equipManage.css';
@import '../serviceManage/serviceManage.css';
@import '../numCouManage/numCouManage.css';
@import '../reportPage/report.css';
@import '../roleManage/roleManage.css';
@import '../accountManage/accountManage.css';
@import '../userLog/userLog.css';

.ant-typography {
    position: absolute;
    font-family: 'Nunito';
    font-style: normal;
}

.ant-form-vertical .ant-form-item-label {
    padding: 0 0 4px;
}

.title-lv-1 {
    height: 36px;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 36px !important;
    color: #FF7506 !important;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 72px;
}

.input label {
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.affix-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: absolute;
    flex: none;
    flex-grow: 0;
}

.main-box {
    position: absolute;
    left: 24px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}

.title-lv-2 {
    height: 30px;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    color: #FF7506 !important;
}

.button-group {
    position: absolute;
    height: 48px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0px;
    height: 48px;
    gap: 8px;
    padding: 10px 24px;
    position: absolute;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
}