.range-picker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 4px;
    width: 100%;
}

.range-picker > .anticon svg {
    width: 12px;
    height: 10px;
}