.numberCount .title-lv-1,
.manage-numberCount .title-lv-1,
.infor-numberCount .title-lv-1 {
    top: 104px;
    left: 24px;
    width: 163px;
}

.infor-numberCount .title-lv-1 { left: 32px; }

.numberCount .input {
    top: 156px;
    width: 154px;
}

.numberCount .input-1 { left: 24px; }

.numberCount .input-2 { left: 202px; }

.numberCount .input-3 { left: 380px; }

.numberCount .input-4 {
    left: 558px;
    width: 320px;
}

.numberCount .input-search {
    left: 896px;
    width: 240px;
}

.numberCount .affix-group,
.infor-numberCount .affix-group {
    right: 0px;
    order: 0;
}

.numberCount .affix-group { top: 244px; }

.infor-numberCount .affix-group { top: 156px; }