.calendar-table {
    width: 294px;
    height: 304px;
    padding: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
}

.calendar-table .ant-card-head {
    padding: 9px;
    height: 56px;
}

.calendar-table .ant-card-head div {
    padding: 0;
}

.calendar-table .ant-card-body {
    padding: 0;
    height: 248px;
}

.calendar-table .ant-card-body .calendar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 22px;
}

.cal-title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FF7506;
}

.calendar-week {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-size: 14px;
    line-height: 19px;
}

.current-date {
    border: 1px solid #FFB800;
    background-color: #FFFFFF;
    color: #FFB800;
    border-radius: 8px;
}

.week-range {
    display: flex;
    width: 100%;
}

.week-range .date-range,
.week-range .calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 36px;
    border: none;
    font-size: 14px;
    line-height: 19px;
}

.date-selected {
    width: 36px !important;
    height: 36px;
    border-radius: 8px;
    color: #fff;
    background-color: #FFB800;
}

.date-range {
    background-color: #FFF2E7;
}

.out-month {
    opacity: 0.5;
}

/*
.ant-popover-inner-content {
    padding: 0;
}

.ant-popover-content,
.ant-popover-inner,
.ant-popover-inner-content {
    border-radius: 12px
}

.calendar-title {
    width: 182.63px;
    height: 26px;
}

.calendar-radio {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.calendar-title .ant-col {
    width: 128px;
    height: 26px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    color: #23221F;
    padding: 0 !important;
} */