.account .title-lv-1,
.manage-account .title-lv-1 {
    top: 104px;
    left: 24px;
    width: 194px;
}

.account .title-lv-1 { width: 225px; }

.account .input {
    top: 156px;
    width: 300px;
}

.account .input-1 { left: 24px; }

.account .input-search { left: 836px; }

.account .affix-group {
    top: 244px;
    right: 0px;
    order: 0;
}