.noti {
    position: absolute;
    top: 28px;
    right: 260px;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 32px;
    background: #FFF2E7;
}

.noti svg {
    width: 20px;
    height: 20px;
    color: #FFAC6A;
}

.noti:hover, .noti:active,
.noti::selection, .noti:focus,
.noti svg:hover, .noti svg:active,
.noti svg::selection, .noti svg:focus {
    color: #FFFFFF;
    background: #FF7506;
}

.noti-list {
    position: relative;
    top: 27px;
    left: 242px;
    width: 360px;
    height: 526px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    background: #FFFFFF;
}

.noti-list .ant-card-head {
    width: 360px;
    height: 48px;
    color: #FFFFFF;
    background: #FF9138;
    border-radius: 10px 10px 0 0;
}

.noti-list .ant-card-head div .ant-card-head-title {
    position: absolute;
    left: 24px;
    top: 9px;
    padding: 0;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.noti-list .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 360px;
    height: 480px;
    overflow: auto;
}

.card-noti {
    width: 100%;
    height: 80px;
    padding: 16px 24px 12px;
}

.card-noti h4 {
    width: 268px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;    
    color: #BF5805;
}

.card-noti p {
    width: 313px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
}

.card-noti:hover {
    background: #FFF2E7;
}

/** Custom scrollbar */

/*
Vùng nền chứa thanh cuộn.
*/
.noti-list ::-webkit-scrollbar {
    width: 4px;
}

/*
Nút cuộn có thể kéo.
*/
.noti-list ::-webkit-scrollbar-thumb {
    background: #FFAC6A;
    border-radius: 14px;
}