@import '~antd/dist/antd.css';
@import './layout/layout.css';
@import './view/view.css';
@import './shared/components/component.css';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

._center {
    text-align: center;
}