@import '~antd/dist/antd.css';
@import './layout/layout.css';
@import './view/style/style.css';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

._center {
    text-align: center;
}

.note {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #7E7D88;
}

.note::before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: 'SimSun', 'sans-serif';
    line-height: 1;
    content: '*';
}