.service .title-lv-1,
.manage-service .title-lv-1,
.infor-service .title-lv-1 {
    top: 104px;
    left: 24px;
    width: 171px;
}

.service .input {
    top: 156px;
    width: 300px;
}

.service .input-1 { left: 24px; }

.service .input-2 {
    left: 348px;
    width: 320px;
}

.service .input-search { left: 836px; }

.service .affix-group,
.infor-service .affix-group {
    right: 0px;
    order: 0;
}

.infor-service .main-box:nth-child(3) .main-list {
    top: 104px;
    left: 25px;
    width: 669px;
}

.infor-service .main-box:nth-child(3) .table div div ul {
    top: 462px;
    right: 0;
}

.service .affix-group { top: 244px; }

.infor-service .affix-group { top: 172px; }