@import './sider/sider.css';
@import './content/content.css';

.main {
    position: relative;
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    border-radius: 16px;
    border: 1px solid;
    box-sizing: content-box;
}

.text {
    position: absolute;
    font-family: 'Nunito';
    font-style: normal;
    flex: none;
    flex-grow: 0;
}