@import './sider/sider.css';
@import './topBar/topBar.css';

.text {
    position: absolute;
    font-family: 'Nunito';
    font-style: normal;
    flex: none;
    flex-grow: 0;
}

.main {
    position: relative;
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    border-radius: 16px;
    border: 1px solid;
    box-sizing: content-box;
}

.content {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 1240px !important;
    height: 100%;
}